body
{
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11px;
}

h1
{
  font-size: 15px;
}

.LabelCell
{
  background-color: #507cd1;
  color: #fff;
  font-weight: bold;
  width: 120px;
  vertical-align: top;
}

fieldset
{
  padding: 20px;
  padding-top: 0; /*  Fix issue in IE where padding-top is not applied. Add margin to legend instead */
}

legend
{
  margin-bottom: 10px;
}

.Label
{
  display: block;
  font-weight: bold;
}

/* GridView Skin settings */

.FooterStyle
{
  background-color: #507CD1;
  color: #fff;
  font-weight: bold;
}

.RowStyle 
{
  background-color: #EFF3FB;
}    
  
.AlternatingRowStyle 
{
  background-color: #fff;
}
  
.SelectedRowStyle 
{
  background-color: #D1DDF1;
  color: #333333;
  font-weight: bold;
}

.PagerStyle 
{
  background-color: #2461BF;
  color: #fff;
  text-align: center;
}

.HeaderStyle 
{
  background-color: #507CD1;
  color: #fff;
  font-weight: bold;
}

